In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import re

In [4]:
names = ["name", "God", "tes"]
for i in names:
    if "God" == i:
        names[names.index(i)] = "God of War"
names

['name', 'God of War', 'tes']

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_Game_of_the_Year_awards"
page = requests.get(url)

In [8]:
pd.read_csv("info.csv", sep="|").drop(["No. of seasons", "Release date(s)", "# of episodes"], axis=1).describe()

c:\users\gabfp\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (15,30,58,60,63,64,65,66,67,68,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,141,142,143,144,145,146,147,148,149,150,151,152,153,154,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,175,176) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Developer(s),Publisher(s),Director(s),Producer(s),Designer(s),Programmer(s),Artist(s),Writer(s),Composer(s),Engine,...,Controller input,Material(s) required,Synonym(s),Final release,Theme music composer,Director,Producer,Writer,Media type,Slogan
count,9119,10009,2421,2400,3131,1691,2248,1777,3773,2896,...,1,2,1,1,2,1,1,1,1,1
unique,4747,4035,1786,1799,2647,1479,1839,1460,2460,864,...,1,2,1,1,2,1,1,1,1,1
top,Konami,Nintendo,Ed Boon,Akihiro Hino,KCET,Steve Harding,Akira Toriyama,Masayoshi Yokoyama,Motoi Sakuraba,Unity,...,"Motion detection, proprietary input devices",Companion app,Fabulous Beasts,"[Data unknown/missing.]\n / May 9, 2018 (201...",Jeff Williams,Steven Soderbergh,Casey Silver,Ed Solomon,Construction set,"Make, Play, Discover"
freq,73,372,10,18,9,6,16,9,33,489,...,1,1,1,1,1,1,1,1,1,1

In [3]:
soup = BeautifulSoup(page.content, 'html.parser')
awards = soup.find("div", class_="mw-parser-output")

In [221]:
teste = []
n = 0
for i in list(awards.children)[9:]:
    if "h2" in str(i) and "Active" in str(i):
        ativo = 1
    if "h2" in str(i) and "Active" not in str(i):
        ativo = 0
    elif "h3" in str(i):
        name = "".join(re.findall(r'>([\w\d\s()-.,"!&.;]+)</',str(i)))
        teste.append({"Company": f"{name}", "Active": f"{ativo}"})
    else:
        try:
            temp = [x.find_all("td") for x in i.find_all("tr")][1:]
            columns = [x.find_all("th") for x in i.find_all("tr")][0]
            for x in temp:
                print(re.findall(r'>([\w\d\s()-.,"!&.;]+)</',str(x)))
                for y in re.findall(r'>([\w\d\s()-.,"!&.;]+)</',str(x)):
                    print(y)
                    teste[n][x[0][y]] = y
                n+=1
        except:
            pass
print(teste)

56